.panel {
    padding: var(--panel-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.panel--primary {
    background: var(--primary-color);
    color: var(--secondary-color);
    align-items: center;
    text-align: center;
}

.panel--secondary {
    background: var(--secondary-color);
    color: var(--text-primary);
    align-items: flex-start;
    text-align: left;
}

.panel--mobile-hidden {
    display: flex;
}

@media (max-width: 768px) {
    .panel--mobile-hidden {
        display: none;
    }

    .panel {
        padding: var(--panel-padding-mobile);
    }
}